html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top; }

input, select, button, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%; }

input[type="checkbox"] {
  vertical-align: middle; }

input[type="radio"] {
  vertical-align: text-bottom; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100% !important;
  overflow-y: scroll; }

body {
  font-family: Arial, sans-serif normal 16px/1.5;
  font-weight: normal;
  text-align: left;
  color: #000;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

input, select, button, textarea {
  font-family: inherit;
  outline: none; }

label, input[type="button"], input[type="submit"], button {
  cursor: pointer;
  outline: none; }

a {
  color: #000; }

a, input, button, a img, textarea {
  -webkit-transition: color 0.5s, background 0.5s, opacity 0.5s, border 0.5s;
  -o-transition: color 0.5s, background 0.5s, opacity 0.5s, border 0.5s;
  -moz-transition: color 0.5s, background 0.5s, opacity 0.5s, border 0.5s;
  transition: color 0.5s, background 0.5s, opacity 0.5s, border 0.5s;
  outline: none; }
  a:hover, a:focus, input:hover, input:focus, button:hover, button:focus, a img:hover, a img:focus, textarea:hover, textarea:focus {
    outline: none; }

img {
  width: auto;
  height: auto;
  max-width: 100%; }

.wrapper, .wrapper--home, .wrapper--schedule, .wrapper--video, .wrapper--team, .wrapper--news, .wrapper--photo, .wrapper--songs {
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  overflow: hidden; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Regular"), local("RobotoRegular"), url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("RobotoMedium"), url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("RobotoBold"), url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@-webkit-keyframes menuDown {
  0% {
    display: none;
    opacity: 0;
    margin-top: -5px; }
  5% {
    display: block;
    opacity: 0; }
  50% {
    opacity: 1;
    margin-top: 10px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

@-moz-keyframes menuDown {
  0% {
    display: none;
    opacity: 0;
    margin-top: -5px; }
  5% {
    display: block;
    opacity: 0; }
  50% {
    opacity: 1;
    margin-top: 10px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

@-o-keyframes menuDown {
  0% {
    display: none;
    opacity: 0;
    margin-top: -5px; }
  5% {
    display: block;
    opacity: 0; }
  50% {
    opacity: 1;
    margin-top: 10px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes menuDown {
  0% {
    display: none;
    opacity: 0;
    margin-top: -5px; }
  5% {
    display: block;
    opacity: 0; }
  50% {
    opacity: 1;
    margin-top: 10px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

body {
  font-family: 'Roboto'; }
  body.no-scroll {
    overflow: hidden; }

@media (max-width: 600px) {
  .container {
    padding: 0 15px; } }

.wrapper, .wrapper--home, .wrapper--schedule, .wrapper--video, .wrapper--team, .wrapper--news, .wrapper--photo, .wrapper--songs {
  background-image: url("../img/bg-default.jpg");
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  background-position: center;
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .wrapper--home {
    background-image: url("../img/bg-default.jpg"); }
    @media (min-width: 1200px) {
      .wrapper--home {
        padding-bottom: 0 !important; } }
  .wrapper--schedule {
    background-image: url("../img/bg-schedule.jpg"); }
  .wrapper--video {
    background-image: url("../img/bg-video.jpg"); }
  .wrapper--team {
    background-image: url("../img/bg-team.jpg"); }
  .wrapper--news {
    background-image: url("../img/bg-news.jpg"); }
  .wrapper--photo {
    background-image: url("../img/bg-photo.jpg"); }
  .wrapper--songs {
    background-image: url("../img/bg-photo.jpg"); }
  @media (min-width: 544px) {
    .wrapper, .wrapper--home, .wrapper--schedule, .wrapper--video, .wrapper--team, .wrapper--news, .wrapper--photo, .wrapper--songs {
      padding-bottom: 40px; } }
  @media (max-width: 543px) {
    .wrapper, .wrapper--home, .wrapper--schedule, .wrapper--video, .wrapper--team, .wrapper--news, .wrapper--photo, .wrapper--songs {
      padding-bottom: 70px; } }

.header {
  position: relative;
  z-index: 50; }
  @media (max-width: 991px) {
    .header {
      position: static; } }

.e-logo {
  display: block;
  background: url("../img/logo.png") no-repeat center;
  width: 181px;
  height: 52px; }
  @media (min-width: 992px) {
    .e-logo {
      margin: 7px auto 30px; } }
  @media (max-width: 991px) {
    .e-logo {
      margin: -30px auto 40px; } }

.page-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 25px;
  position: relative; }
  @media (min-width: 992px) {
    .page-title {
      font-size: 45px; } }
  @media (min-width: 544px) and (max-width: 991px) {
    .page-title {
      font-size: 32px; } }
  @media (max-width: 543px) {
    .page-title {
      font-size: 24px; } }
  .page-title::after {
    content: '';
    width: 100%;
    max-width: 675px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(#d24a43), to(transparent));
    background: -webkit-linear-gradient(left, #d24a43 0%, transparent 100%);
    background: -moz-linear-gradient(left, #d24a43 0%, transparent 100%);
    background: -o-linear-gradient(left, #d24a43 0%, transparent 100%);
    background: linear-gradient(to right, #d24a43 0%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0; }

.content {
  color: #fff; }
  @media (min-width: 544px) {
    .content {
      font-size: 14px; } }
  @media (max-width: 543px) {
    .content {
      font-size: 12px; } }
  .content p {
    margin-bottom: 10px;
    line-height: 1.65;
    text-indent: 30px; }
  .content ol, .content ul {
    line-height: 1.5;
    margin-left: 30px;
    margin-bottom: 10px; }
  .content a {
    color: #fff;
    text-decoration: underline; }
    .content a:hover {
      opacity: 0.8;
      text-decoration: none; }
  .content img.aligncenter {
    margin: 0 auto 20px;
    display: block; }
  .content img.alignright {
    float: right;
    margin: 0 0 20px 20px; }
  .content img.alignleft {
    float: left;
    margin: 0 20px 20px 0; }
  .content table td {
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 12px; }

.m-nav {
  text-align: center;
  height: 50px; }
  @media (max-width: 991px) {
    .m-nav {
      position: static; } }
  .m-nav ul.menu {
    list-style: none;
    text-align: center; }
    @media (min-width: 992px) {
      .m-nav ul.menu {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
           -moz-box-pack: justify;
                justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
           -moz-box-align: start;
                align-items: flex-start; } }
    @media (max-width: 991px) {
      .m-nav ul.menu {
        background: rgba(29, 4, 4, 0.9);
        position: fixed;
        top: -20px;
        right: 0;
        left: 0;
        z-index: 90;
        min-height: -webkit-calc(100vh + 40px);
        min-height: -moz-calc(100vh + 40px);
        min-height: calc(100vh + 40px);
        padding-top: 35px;
        display: none;
        -webkit-animation: menuDown 0.5s 1;
           -moz-animation: menuDown 0.5s 1;
             -o-animation: menuDown 0.5s 1;
                animation: menuDown 0.5s 1; }
        .m-nav ul.menu.show {
          display: block; } }
    .m-nav ul.menu > li {
      position: relative; }
      @media (min-width: 992px) {
        .m-nav ul.menu > li {
          -webkit-order: 0;
          -ms-flex-order: 0;
          -webkit-box-ordinal-group: 1;
             -moz-box-ordinal-group: 1;
                  order: 0;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          -webkit-box-flex: 1;
             -moz-box-flex: 1;
                  flex: 1 1 auto;
          -webkit-align-self: auto;
          -ms-flex-item-align: auto;
          -ms-grid-row-align: auto;
              align-self: auto; } }
      @media (max-width: 991px) {
        .m-nav ul.menu > li {
          padding: 0 25px; } }
      .m-nav ul.menu > li::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -2px;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        background: #d24a43; }
      @media (min-width: 992px) {
        .m-nav ul.menu > li:first-child::before {
          display: none; } }
      .m-nav ul.menu > li > a {
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        height: 50px;
        line-height: 50px; }
        .m-nav ul.menu > li > a:hover {
          opacity: 0.8; }
      .m-nav ul.menu > li.current-menu-item > a {
        color: #d24a43; }
  @media (min-width: 992px) {
    .m-nav__icon {
      display: none; } }
  @media (max-width: 991px) {
    .m-nav__icon {
      float: right;
      width: 40px;
      height: 50px;
      padding-top: 20px;
      position: relative;
      z-index: 100; }
      .m-nav__icon svg {
        display: block;
        width: 100%;
        display: block;
        position: absolute; }
        .m-nav__icon svg:first-child {
          -webkit-transform-origin: 50% 50%;
             -moz-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
               -o-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-transition: 0.1s ease-in-out;
          -o-transition: 0.1s ease-in-out;
          -moz-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out; }
        .m-nav__icon svg:last-child {
          -webkit-transform-origin: 50% 50%;
             -moz-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
               -o-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-transition: 0.1s ease-in-out;
          -o-transition: 0.1s ease-in-out;
          -moz-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
          -webkit-transform: scale(0);
             -moz-transform: scale(0);
              -ms-transform: scale(0);
               -o-transform: scale(0);
                  transform: scale(0); }
      .m-nav__icon.toggle svg:first-child {
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
            -ms-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0); }
      .m-nav__icon.toggle svg:last-child {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1); }
      .m-nav__icon.tRotate svg:last-child {
        -webkit-transform: scale(0) rotate(0deg);
           -moz-transform: scale(0) rotate(0deg);
            -ms-transform: scale(0) rotate(0deg);
             -o-transform: scale(0) rotate(0deg);
                transform: scale(0) rotate(0deg); }
      .m-nav__icon.toggle svg:last-child {
        -webkit-transform: scale(1) rotate(-360deg);
           -moz-transform: scale(1) rotate(-360deg);
            -ms-transform: scale(1) rotate(-360deg);
             -o-transform: scale(1) rotate(-360deg);
                transform: scale(1) rotate(-360deg); } }
  @media (max-width: 375px) {
    .m-nav__icon {
      width: 30px; } }

.m-biography {
  margin-bottom: 70px; }
  .m-biography__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #d24a43;
    margin-bottom: 12px; }
  .m-biography__content {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 1.42;
    position: relative; }
    .m-biography__content::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -50px;
      background: url("../img/signature.png") no-repeat center;
      width: 125px;
      height: 48px; }

.m-schedule {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(210, 74, 67, 0.1);
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  padding: 20px 0 0;
  position: relative;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .m-schedule::before {
      content: '';
      background: rgba(255, 255, 255, 0.1);
      width: 1px;
      position: absolute;
      top: 10px;
      left: 50%;
      bottom: 10px; } }
  .m-schedule p {
    font-size: 14px;
    color: #fff;
    padding: 0 25px 20px; }
    .m-schedule p span {
      display: inline-block;
      vertical-align: top; }

.p-home__pic {
  background: url("../img/home-pic.png") no-repeat top center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  position: absolute;
  bottom: 0;
  left: -100%;
  z-index: 2;
  height: 100%; }
  @media (min-height: 800px) {
    .p-home__pic {
      width: 100%; } }
  @media (max-height: 799px) and (min-width: 992px) {
    .p-home__pic {
      width: 459px; } }
  @media (max-width: 991px) {
    .p-home__pic {
      display: none; } }

.p-home__logo {
  background: url("../img/home-logo.png") no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
  display: block;
  position: relative;
  z-index: 1; }
  @media (min-height: 800px) {
    .p-home__logo {
      margin-bottom: 50px;
      margin-left: -100px; } }
  @media (max-height: 799px) and (min-width: 1200px) {
    .p-home__logo {
      margin-bottom: 30px;
      margin-left: -235px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .p-home__logo {
      margin-left: -100px; } }
  @media (max-width: 991px) {
    .p-home__logo {
      margin-bottom: 30px; } }
  @media (min-width: 768px) {
    .p-home__logo {
      width: 476px;
      height: 249px; } }
  @media (max-width: 767px) {
    .p-home__logo {
      width: 280px;
      height: 150px;
      margin-top: -50px; } }

.p-home__col, .p-home__col--right {
  position: relative; }
  .p-home__col--right {
    padding-top: 30px;
    min-height: -webkit-calc(100vh - 50px);
    min-height: -moz-calc(100vh - 50px);
    min-height: calc(100vh - 50px); }

.p-schedule {
  color: #fff; }
  .p-schedule__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .p-schedule__list {
      max-width: 60%; } }
  .p-schedule__month {
    margin-bottom: 20px; }
  .p-schedule p {
    margin-bottom: 10px; }
    .p-schedule p span {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase; }
  .p-schedule__col {
    min-height: -webkit-calc(100vh - 139px);
    min-height: -moz-calc(100vh - 139px);
    min-height: calc(100vh - 139px); }
  @media (min-width: 768px) {
    .p-schedule__pic {
      background: url("../img/schedule-pic.png") no-repeat center bottom;
      -moz-background-size: contain;
        -o-background-size: contain;
           background-size: contain;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 42%;
      height: 120%; } }
  @media (max-width: 767px) {
    .p-schedule__pic {
      display: none; } }

.p-biography .content {
  position: relative;
  margin-bottom: 120px; }
  .p-biography .content::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -70px;
    background: url("../img/signature.png") no-repeat center;
    width: 125px;
    height: 48px; }
    @media (min-width: 768px) {
      .p-biography .content::after {
        margin-right: 100px; } }

.p-video__list {
  margin: 0 -25px; }
  @media (min-width: 544px) {
    .p-video__list {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      -webkit-box-pack: start;
         -moz-box-pack: start;
              justify-content: flex-start;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      -webkit-box-align: start;
         -moz-box-align: start;
              align-items: flex-start; } }

.p-video__col {
  padding: 0 25px; }
  @media (min-width: 544px) {
    .p-video__col {
      -webkit-order: 0;
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
         -moz-box-ordinal-group: 1;
              order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      -webkit-box-flex: 0;
         -moz-box-flex: 0;
              flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
          align-self: auto; } }
  @media (min-width: 1200px) {
    .p-video__col {
      width: 20%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .p-video__col {
      width: 25%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .p-video__col {
      width: 33.3333%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .p-video__col {
      width: 50%; } }

.p-video__link {
  display: block;
  margin-bottom: 10px; }

.p-video__title {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px; }
  .p-video__title a {
    display: block;
    color: inherit; }

.p-team__list {
  margin: 0 -25px; }
  @media (min-width: 544px) {
    .p-team__list {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      -webkit-box-pack: start;
         -moz-box-pack: start;
              justify-content: flex-start;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      -webkit-box-align: start;
         -moz-box-align: start;
              align-items: flex-start; } }

.p-team__col {
  padding: 0 25px;
  margin-bottom: 40px; }
  @media (min-width: 544px) {
    .p-team__col {
      -webkit-order: 0;
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
         -moz-box-ordinal-group: 1;
              order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      -webkit-box-flex: 0;
         -moz-box-flex: 0;
              flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
          align-self: auto; } }
  @media (min-width: 1200px) {
    .p-team__col {
      width: 20%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .p-team__col {
      width: 25%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .p-team__col {
      width: 33.3333%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .p-team__col {
      width: 50%; } }

.p-team__img {
  display: block;
  margin-bottom: 15px; }
  .p-team__img img {
    display: block; }

.p-team__title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
  color: #fff;
  text-align: center; }

.p-team__post {
  font-size: 13px;
  color: #fff;
  text-align: center; }

.p-songs__list {
  margin: 0 -25px; }
  @media (min-width: 544px) {
    .p-songs__list {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      -webkit-box-pack: start;
         -moz-box-pack: start;
              justify-content: flex-start;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      -webkit-box-align: start;
         -moz-box-align: start;
              align-items: flex-start; } }

.p-songs__col {
  padding: 0 25px;
  margin-bottom: 40px; }
  @media (min-width: 544px) {
    .p-songs__col {
      -webkit-order: 0;
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
         -moz-box-ordinal-group: 1;
              order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      -webkit-box-flex: 0;
         -moz-box-flex: 0;
              flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
          align-self: auto; } }
  @media (min-width: 1200px) {
    .p-songs__col {
      width: 20%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .p-songs__col {
      width: 25%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .p-songs__col {
      width: 33.3333%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .p-songs__col {
      width: 50%; } }

.p-songs__img {
  display: block;
  margin-bottom: 15px; }
  .p-songs__img:hover {
    opacity: 0.8; }
  .p-songs__img img {
    display: block; }

.p-songs__title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
  color: #fff; }
  .p-songs__title a {
    color: inherit; }
    .p-songs__title a:hover {
      opacity: 0.8; }

.p-songs__album {
  position: relative; }
  .p-songs__album img {
    display: block;
    margin-bottom: 20px; }
  .p-songs__album p {
    margin-bottom: 15px; }

@media (min-width: 992px) {
  .p-songs__playlist {
    padding: 0 30px; } }

.p-songs__audio {
  margin-bottom: 20px;
  color: #fff; }
  .p-songs__audio audio {
    width: 100%; }
    .p-songs__audio audio::-internal-media-controls-download-button {
      display: none; }
    .p-songs__audio audio::-webkit-media-controls-enclosure {
      overflow: hidden; }
    .p-songs__audio audio::-webkit-media-controls-panel {
      width: -webkit-calc(100% + 30px);
      width: calc(100% + 30px); }
    .p-songs__audio audio::-internal-media-controls-cast-button {
      display: none; }

.p-news__list {
  margin: 0 -25px; }

.p-news__item {
  padding: 0 25px 20px;
  margin-bottom: 20px; }
  .p-news__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;
    border-bottom: 1px solid rgba(210, 74, 67, 0.5); }

.p-news__img {
  display: block; }
  @media (max-width: 543px) {
    .p-news__img {
      margin-bottom: 20px; } }
  .p-news__img:hover {
    opacity: 0.8; }
  .p-news__img img {
    display: block; }

.p-news__title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; }
  .p-news__title a {
    color: inherit; }

.p-news__intro {
  color: #fff;
  font-size: 13px;
  margin-bottom: 17px; }

.p-news__more {
  display: inline-block; }
  .p-news__more:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .p-news__more {
    height: 1px; }
  .p-news__more a {
    display: block;
    float: left;
    height: 36px;
    line-height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(210, 74, 67, 0.15);
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 0 15px;
    text-transform: lowercase; }
    .p-news__more a:hover {
      background: rgba(210, 74, 67, 0.8); }

.p-single {
  margin-bottom: 60px; }

@media (min-width: 1200px) {
  .p-photo__list {
    margin: 0 -60px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .p-photo__list {
    margin: 0 -25px; } }

@media (max-width: 767px) {
  .p-photo__list {
    margin: 0 -15px; } }

@media (min-width: 1200px) {
  .p-photo__item {
    padding: 0 60px 120px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .p-photo__item {
    padding: 0 25px 50px; } }

@media (max-width: 767px) {
  .p-photo__item {
    padding: 0 15px 30px; } }

.p-photo__item a {
  display: block;
  position: relative; }
  .p-photo__item a::after, .p-photo__item a::before {
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .p-photo__item a::after {
    background: rgba(29, 4, 4, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .p-photo__item a::before {
    background-image: url(../img/sprite.png);
    background-position: -53px 0px;
    width: 28px;
    height: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-top: -13.5px;
    margin-left: -14px; }
  .p-photo__item a:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); }
    .p-photo__item a:hover::after, .p-photo__item a:hover::before {
      opacity: 1; }
  .p-photo__item a img {
    display: block; }

.p-contacts {
  margin-bottom: 60px; }
  .p-contacts__info, .p-contacts__info--address, .p-contacts__info--phone, .p-contacts__info--schedule, .p-contacts__info--email {
    position: relative;
    padding-left: 55px;
    margin-bottom: 50px;
    color: #fff; }
    @media (min-width: 1200px) {
      .p-contacts__info, .p-contacts__info--address, .p-contacts__info--phone, .p-contacts__info--schedule, .p-contacts__info--email {
        margin-left: 50px; } }
    .p-contacts__info a, .p-contacts__info--address a, .p-contacts__info--phone a, .p-contacts__info--schedule a, .p-contacts__info--email a {
      color: inherit; }
    .p-contacts__info::before, .p-contacts__info--address::before, .p-contacts__info--phone::before, .p-contacts__info--schedule::before, .p-contacts__info--email::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      z-index: 1; }
    .p-contacts__info--address::before {
      background-image: url(../img/sprite.png);
      background-position: -29px 0px;
      width: 24px;
      height: 33px; }
    .p-contacts__info--phone::before {
      background-image: url(../img/sprite.png);
      background-position: 0px -29px;
      width: 24px;
      height: 34px; }
    .p-contacts__info--schedule::before {
      background-image: url(../img/sprite.png);
      background-position: 0px 0px;
      width: 29px;
      height: 29px; }
    .p-contacts__info--email::before {
      background-image: url(../img/sprite.png);
      background-position: -81px 0px;
      width: 32px;
      height: 21px; }
  .p-contacts__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  .p-contacts__map {
    height: 365px;
    margin-top: 10px; }

.footer {
  position: relative;
  z-index: 100; }
  @media (min-width: 544px) {
    .footer {
      margin-top: -40px; } }
  @media (max-width: 543px) {
    .footer {
      text-align: center;
      margin-top: -70px; } }
  .footer .copyright {
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    opacity: 0.5; }
  .footer .studio {
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 12px; }
    @media (min-width: 544px) {
      .footer .studio {
        text-align: right; } }
    @media (max-width: 543px) {
      .footer .studio {
        margin-top: -10px; } }
    .footer .studio a {
      color: #fff;
      opacity: 0.5; }
      .footer .studio a:hover {
        opacity: 1; }

/*# sourceMappingURL=style.css.map */
