@import "_reset"
@import "_fonts"
@import "_keyframes"
@import "_mixin"
@import "_sprite"

// Colors
$red: #d24a43
$red--black: #1d0404
$white: #fff
$black: #000
$gray: #bdbdbd

body
  font-family: 'Roboto'
  &.no-scroll
    overflow: hidden

.container
  @media (max-width: 600px)
    padding: 0 15px
.wrapper
  background-image: url("../img/bg-default.jpg")
  background-size: cover
  background-position: center
  background-color: $black
  background-repeat: no-repeat
  background-attachment: fixed
  @include modifier(home)
    background-image: url("../img/bg-default.jpg")
    @media (min-width: 1200px)
      padding-bottom: 0 !important
  @include modifier(schedule)
    background-image: url("../img/bg-schedule.jpg")
  @include modifier(video)
    background-image: url("../img/bg-video.jpg")
  @include modifier(team)
    background-image: url("../img/bg-team.jpg")
  @include modifier(news)
    background-image: url("../img/bg-news.jpg")
  @include modifier(photo)
    background-image: url("../img/bg-photo.jpg")
  @include modifier(songs)
    background-image: url("../img/bg-photo.jpg")
  @media (min-width: 544px)
    padding-bottom: 40px
  @media (max-width: 543px)
    padding-bottom: 70px

.header
  position: relative
  z-index: 50
  @media (max-width: 991px)
    position: static

.e-logo
  display: block
  background: url("../img/logo.png") no-repeat center
  width: 181px
  height: 52px
  @media (min-width: 992px)
    margin: 7px auto 30px
  @media (max-width: 991px)
    margin: -30px auto 40px
.page-title
  color: $white
  text-transform: uppercase
  font-weight: bold
  padding-bottom: 20px
  margin-bottom: 25px
  position: relative
  @media (min-width: 992px)
    font-size: 45px
  @media (min-width: 544px) and (max-width: 991px)
    font-size: 32px
  @media (max-width: 543px)
    font-size: 24px
  &::after
    content: ''
    width: 100%
    max-width: 675px
    height: 1px
    background: linear-gradient(to right, $red 0%,transparent 100%)
    position: absolute
    bottom: 0
    left: 0

.content
  color: $white
  @media (min-width: 544px)
    font-size: 14px
  @media (max-width: 543px)
    font-size: 12px
  p
    margin-bottom: 10px
    line-height: 1.65
    text-indent: 30px
  ol, ul
    line-height: 1.5
    margin-left: 30px
    margin-bottom: 10px
  a
    color: $white
    text-decoration: underline
    &:hover
      opacity: 0.8
      text-decoration: none
  img
    &.aligncenter
      margin: 0 auto 20px
      display: block
    &.alignright
      float: right
      margin: 0 0 20px 20px
    &.alignleft
      float: left
      margin: 0 20px 20px 0
  table
    td
      border: 1px solid $white
      padding: 5px 10px
      font-size: 12px

.m-nav
  text-align: center
  height: 50px
  @media (max-width: 991px)
    position: static
  ul.menu
    list-style: none
    text-align: center
    @media (min-width: 992px)
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row
      -webkit-flex-wrap: wrap
      -ms-flex-wrap: wrap
      flex-wrap: wrap
      -webkit-justify-content: space-between
      -ms-flex-pack: justify
      justify-content: space-between
      -webkit-align-content: stretch
      -ms-flex-line-pack: stretch
      align-content: stretch
      -webkit-align-items: flex-start
      -ms-flex-align: start
      align-items: flex-start
    @media (max-width: 991px)
      background: rgba($red--black,0.9)
      @include position(fixed,-20px,0,null,0,90)
      min-height: calc(100vh + 40px)
      padding-top: 35px
      display: none
      animation: menuDown 0.5s 1
      &.show
        display: block
    & > li
      position: relative
      @media (min-width: 992px)
        -webkit-order: 0
        -ms-flex-order: 0
        order: 0
        -webkit-flex: 1 1 auto
        -ms-flex: 1 1 auto
        flex: 1 1 auto
        -webkit-align-self: auto
        -ms-flex-item-align: auto
        align-self: auto
      @media (max-width: 991px)
        padding: 0 25px
      &::before
        content: ''
        position: absolute
        top: 50%
        left: -2px
        margin-top: -2px
        width: 4px
        height: 4px
        border-radius: 50%
        background: $red
      @media (min-width: 992px)
        &:first-child
          &::before
            display: none
      & > a
        display: block
        font-size: 18px
        text-transform: uppercase
        color: $white
        height: 50px
        line-height: 50px
        &:hover
          opacity: 0.8
      &.current-menu-item
        & > a
          color: $red
  @include element(icon)
    @media (min-width: 992px)
      display: none
    @media (max-width: 991px)
      float: right
      width: 40px
      height: 50px
      padding-top: 20px
      position: relative
      z-index: 100
      svg
        display: block
        width: 100%
        display: block
        position: absolute
        &:first-child
          @include tOrigin
          @include transition
        &:last-child
          @include tOrigin
          @include transition
          @include tScale0
      &.toggle
        svg
          &:first-child
            @include tScale0
          &:last-child
            @include tScale1
      &.tRotate
        svg
          &:last-child
            transform: scale(0) rotate(0deg)
      &.toggle
        svg
          &:last-child
            transform: scale(1) rotate(-360deg)
    @media (max-width: 375px)
      width: 30px
.m-biography
  margin-bottom: 70px
  @include element(title)
    color: $white
    text-transform: uppercase
    font-size: 20px
    font-weight: bold
    padding-bottom: 10px
    border-bottom: 1px solid $red
    margin-bottom: 12px
  @include element(content)
    color: $gray
    font-size: 14px
    line-height: 1.42
    position: relative
    &::after
      content: ''
      position: absolute
      right: 0
      bottom: -50px
      background: url("../img/signature.png") no-repeat center
      width: 125px
      height: 48px
.m-schedule
  background: rgba($white, 0.1)
  border: 1px solid rgba($red,0.1)
  border-radius: 1px
  padding: 20px 0 0
  position: relative
  margin-bottom: 50px
  @media (min-width: 768px)
    &::before
      content: ''
      background: rgba($white,0.1)
      width: 1px
      position: absolute
      top: 10px
      left: 50%
      bottom: 10px
  p
    font-size: 14px
    color: $white
    padding: 0 25px 20px
    span
      display: inline-block
      vertical-align: top



.p-home
  @include element(pic)
    background: url("../img/home-pic.png") no-repeat top center
    background-size: cover
    position: absolute
    bottom: 0
    left: -100%
    z-index: 2
    height: 100%
    @media (min-height: 800px)
      width: 100%
    @media (max-height: 799px) and (min-width: 992px)
      width: 459px
    @media (max-width: 991px)
      display: none
  @include element(logo)
    background: url("../img/home-logo.png") no-repeat
    background-size: contain
    display: block
    position: relative
    z-index: 1
    @media (min-height: 800px)
      margin-bottom: 50px
      margin-left: -100px
    @media (max-height: 799px) and (min-width: 1200px)
      margin-bottom: 30px
      margin-left: -235px
    @media (min-width: 992px) and (max-width: 1199px)
      margin-left: -100px
    @media (max-width: 991px)
      margin-bottom: 30px
    @media (min-width: 768px)
      width: 476px
      height: 249px
    @media (max-width: 767px)
      width: 280px
      height: 150px
      margin-top: -50px
  @include element(col)
    position: relative
    @include modifier(right)
      padding-top: 30px
      min-height: calc(100vh - 50px)
.p-schedule
  color: $white
  @include element(title)
    font-size: 20px
    margin-bottom: 20px
    text-transform: uppercase
  @include element(list)
    @media (min-width: 768px)
      max-width: 60%
  @include element(month)
    margin-bottom: 20px
  p
    margin-bottom: 10px
    span
      display: inline-block
      vertical-align: top
      text-transform: uppercase
  @include element(col)
    min-height: calc(100vh - 139px)
  @include element(pic)
    @media (min-width: 768px)
      background: url("../img/schedule-pic.png") no-repeat center bottom
      background-size: contain
      position: absolute
      bottom: 0
      right: 0
      width: 42%
      height: 120%
    @media (max-width: 767px)
      display: none
.p-biography
  .content
    position: relative
    margin-bottom: 120px
    &::after
      content: ''
      position: absolute
      right: 0
      bottom: -70px
      background: url("../img/signature.png") no-repeat center
      width: 125px
      height: 48px
      @media (min-width: 768px)
        margin-right: 100px
.p-video
  @include element(list)
    margin: 0 -25px
    @media (min-width: 544px)
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row
      -webkit-flex-wrap: wrap
      -ms-flex-wrap: wrap
      flex-wrap: wrap
      -webkit-justify-content: flex-start
      -ms-flex-pack: start
      justify-content: flex-start
      -webkit-align-content: flex-start
      -ms-flex-line-pack: start
      align-content: flex-start
      -webkit-align-items: flex-start
      -ms-flex-align: start
      align-items: flex-start
  @include element(col)
    padding: 0 25px
    @media (min-width: 544px)
      -webkit-order: 0
      -ms-flex-order: 0
      order: 0
      -webkit-flex: 0 1 auto
      -ms-flex: 0 1 auto
      flex: 0 1 auto
      -webkit-align-self: auto
      -ms-flex-item-align: auto
      align-self: auto
    @media (min-width: 1200px)
      width: 20%
    @media (min-width: 992px) and (max-width: 1199px)
      width: 25%
    @media (min-width: 768px) and (max-width: 991px)
      width: 33.3333%
    @media (min-width: 544px) and (max-width: 767px)
      width: 50%
  @include element(link)
    display: block
    margin-bottom: 10px
  @include element(title)
    color: $white
    font-weight: normal
    margin-bottom: 20px
    a
      display: block
      color: inherit
.p-team
  @include element(list)
    margin: 0 -25px
    @media (min-width: 544px)
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row
      -webkit-flex-wrap: wrap
      -ms-flex-wrap: wrap
      flex-wrap: wrap
      -webkit-justify-content: flex-start
      -ms-flex-pack: start
      justify-content: flex-start
      -webkit-align-content: flex-start
      -ms-flex-line-pack: start
      align-content: flex-start
      -webkit-align-items: flex-start
      -ms-flex-align: start
      align-items: flex-start
  @include element(col)
    padding: 0 25px
    margin-bottom: 40px
    @media (min-width: 544px)
      -webkit-order: 0
      -ms-flex-order: 0
      order: 0
      -webkit-flex: 0 1 auto
      -ms-flex: 0 1 auto
      flex: 0 1 auto
      -webkit-align-self: auto
      -ms-flex-item-align: auto
      align-self: auto
    @media (min-width: 1200px)
      width: 20%
    @media (min-width: 992px) and (max-width: 1199px)
      width: 25%
    @media (min-width: 768px) and (max-width: 991px)
      width: 33.3333%
    @media (min-width: 544px) and (max-width: 767px)
      width: 50%
  @include element(img)
    display: block
    margin-bottom: 15px
    img
      display: block
  @include element(title)
    font-size: 18px
    font-weight: normal
    margin-bottom: 5px
    color: $white
    text-align: center
  @include element(post)
    font-size: 13px
    color: $white
    text-align: center
.p-songs
  @include element(list)
    margin: 0 -25px
    @media (min-width: 544px)
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row
      -webkit-flex-wrap: wrap
      -ms-flex-wrap: wrap
      flex-wrap: wrap
      -webkit-justify-content: flex-start
      -ms-flex-pack: start
      justify-content: flex-start
      -webkit-align-content: flex-start
      -ms-flex-line-pack: start
      align-content: flex-start
      -webkit-align-items: flex-start
      -ms-flex-align: start
      align-items: flex-start
  @include element(col)
    padding: 0 25px
    margin-bottom: 40px
    @media (min-width: 544px)
      -webkit-order: 0
      -ms-flex-order: 0
      order: 0
      -webkit-flex: 0 1 auto
      -ms-flex: 0 1 auto
      flex: 0 1 auto
      -webkit-align-self: auto
      -ms-flex-item-align: auto
      align-self: auto
    @media (min-width: 1200px)
      width: 20%
    @media (min-width: 992px) and (max-width: 1199px)
      width: 25%
    @media (min-width: 768px) and (max-width: 991px)
      width: 33.3333%
    @media (min-width: 544px) and (max-width: 767px)
      width: 50%
  @include element(img)
    display: block
    margin-bottom: 15px
    &:hover
      opacity: 0.8
    img
      display: block
  @include element(title)
    font-size: 18px
    font-weight: normal
    margin-bottom: 5px
    color: $white
    a
      color: inherit
      &:hover
        opacity: 0.8
  @include element(album)
    position: relative
    img
      display: block
      margin-bottom: 20px
    p
      margin-bottom: 15px
  @include element(playlist)
    @media (min-width: 992px)
      padding: 0 30px
  @include element(audio)
    margin-bottom: 20px
    color: $white
    audio
      width: 100%
      &::-internal-media-controls-download-button
        display: none
      &::-webkit-media-controls-enclosure
        overflow: hidden
      &::-webkit-media-controls-panel
        width: calc(100% + 30px)
      &::-internal-media-controls-cast-button
        display: none

.p-news
  @include element(list)
    margin: 0 -25px
  @include element(item)
    padding: 0 25px 20px
    margin-bottom: 20px
    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 25px
      right: 25px
      border-bottom: 1px solid rgba($red,0.5)
  @include element(img)
    display: block
    @media (max-width: 543px)
      margin-bottom: 20px
    &:hover
      opacity: 0.8
    img
      display: block
  @include element(title)
    color: $white
    font-size: 18px
    font-weight: bold
    margin-bottom: 10px
    a
      color: inherit
  @include element(intro)
    color: $white
    font-size: 13px
    margin-bottom: 17px
  @include element(more)
    @include clearfix()
    a
      display: block
      float: left
      height: 36px
      line-height: 34px
      border: 1px solid rgba($white,0.5)
      background: rgba($red,0.15)
      color: $white
      font-size: 14px
      text-align: center
      padding: 0 15px
      text-transform: lowercase
      &:hover
        background: rgba($red,0.8)
.p-single
  margin-bottom: 60px
.p-photo
  @include element(list)
    @media (min-width: 1200px)
      margin: 0 -60px
    @media (min-width: 768px) and (max-width: 1199px)
      margin: 0 -25px
    @media (max-width: 767px)
      margin: 0 -15px
  @include element(item)
    @media (min-width: 1200px)
      padding: 0 60px 120px
    @media (min-width: 768px) and (max-width: 1199px)
      padding: 0 25px 50px
    @media (max-width: 767px)
      padding: 0 15px 30px
    a
      display: block
      position: relative
      &::after, &::before
        content: ''
        opacity: 0
        transition: opacity 0.3s ease
      &::after
        background: rgba($red--black,0.8)
        @include position(absolute,0,0,0,0,1)
      &::before
        @include sprite($icon-search)
        @include position(absolute,50%,null,null,50%,2)
        margin-top: -$icon-search-height/2
        margin-left: -$icon-search-width/2
      &:hover
        box-shadow: 0 5px 15px rgba($black,0.4)
        &::after, &::before
          opacity: 1
      img
        display: block
.p-contacts
  margin-bottom: 60px
  @include element(info)
    position: relative
    padding-left: 55px
    margin-bottom: 50px
    color: $white
    @media (min-width: 1200px)
      margin-left: 50px
    a
      color: inherit
    &::before
      content: ''
      @include position(absolute,5px,null,null,0,1)
    @include modifier(address)
      &::before
        @include sprite($icon-address)
    @include modifier(phone)
      &::before
        @include sprite($icon-phone)
    @include modifier(schedule)
      &::before
        @include sprite($icon-schedule)
    @include modifier(email)
      &::before
        @include sprite($icon-email)
  @include element(title)
    font-size: 16px
    font-weight: bold
    margin-bottom: 5px
  @include element(map)
    height: 365px
    margin-top: 10px

.footer
  position: relative
  z-index: 100
  @media (min-width: 544px)
    margin-top: -40px
  @media (max-width: 543px)
    text-align: center
    margin-top: -70px
  .copyright
    line-height: 40px
    height: 40px
    color: $white
    font-size: 12px
    opacity: 0.5
  .studio
    line-height: 40px
    height: 40px
    color: $white
    font-size: 12px
    @media (min-width: 544px)
      text-align: right
    @media (max-width: 543px)
      margin-top: -10px
    a
      color: $white
      opacity: 0.5
      &:hover
        opacity: 1